[report]
omit =
	 	*/env*
        */venv*
		*/ctypes*
		*/html*
		*crypt.py*
		*decimal.py*
		*/encodings*
		*hmac.py*
		*mimetypes.py*
		*stringprep.py*
		*uuid.py*
		*/http*
		*numbers.py*
		*click/*
 		*flask/*
 		*itsdangerous.py*
 		*jinja2/*
 		*markupsafe/*
 		*werkzeug/*
 		*flask_jsonpify.py*
		*jwt/*
		*passlib/*
		*virtualenv/*
		*email/*
		*smtplib.py*
        *asyncio/*
        *concurrent/*
        *multiprocessing/*
        *pydoc.py*
        *fileinput.py*
        *typing.py*
        *models/*
        *instance/*
        *dataclasses.py*
        *importlib\metadata.py*
        *pathlib.py*
        *socketserver.py*
        *timeit.py*
        *attr\*
        *flasgger\*
        *itsdangerous\*
        *jsonschema\*
        *mistune.py*
        *psycopg2\*
        *pyrsistent\*
        *six.py*
        *yaml\*
        *flask_jwt_extended\*
        *flask_restful\*
        *csv.py*
        *app\templates.py*

